css_server/server/*

!css_server/server/cstrike
css_server/server/cstrike/*

!css_server/server/cstrike/addons
css_server/server/cstrike/addons/*

!css_server/server/cstrike/addons/sourcemod
css_server/server/cstrike/addons/sourcemod/*

!css_server/server/cstrike/addons/sourcemod/extensions
css_server/server/cstrike/addons/sourcemod/extensions/*

!css_server/server/cstrike/addons/sourcemod/extensions/socket.ext.dll

!css_server/server/cstrike/addons/sourcemod/scripting
css_server/server/cstrike/addons/sourcemod/scripting/*

!css_server/server/cstrike/addons/sourcemod/scripting/include
css_server/server/cstrike/addons/sourcemod/scripting/include/*

!css_server/server/cstrike/addons/sourcemod/scripting/include/socket.inc

!css_server/server/cstrike/cfg
css_server/server/cstrike/cfg/*

!css_server/server/cstrike/cfg/mapcycle.txt
!css_server/server/cstrike/cfg/server.cfg

!css_server/server/cstrike/maps
css_server/server/cstrike/maps/cs_*
css_server/server/cstrike/maps/de_*
css_server/server/cstrike/maps/test_*

css_server/steamcmd/*
!css_server/steamcmd/.gitkeep
