# Server
css_server/server/*

!css_server/server/cstrike
css_server/server/cstrike/*

!css_server/server/cstrike/addons
css_server/server/cstrike/addons/*

!css_server/server/cstrike/addons/sourcemod
css_server/server/cstrike/addons/sourcemod/*

!css_server/server/cstrike/addons/sourcemod/extensions
css_server/server/cstrike/addons/sourcemod/extensions/*

!css_server/server/cstrike/addons/sourcemod/extensions/socket.ext.dll

!css_server/server/cstrike/addons/sourcemod/plugins
css_server/server/cstrike/addons/sourcemod/plugins/*

!css_server/server/cstrike/addons/sourcemod/plugins/noblock_v2.smx

!css_server/server/cstrike/addons/sourcemod/scripting
css_server/server/cstrike/addons/sourcemod/scripting/*

!css_server/server/cstrike/addons/sourcemod/scripting/include
css_server/server/cstrike/addons/sourcemod/scripting/include/*

!css_server/server/cstrike/addons/sourcemod/scripting/include/socket.inc

!css_server/server/cstrike/cfg
css_server/server/cstrike/cfg/*

!css_server/server/cstrike/cfg/mapcycle.txt
!css_server/server/cstrike/cfg/server.cfg

!css_server/server/cstrike/maps
css_server/server/cstrike/maps/*

!css_server/server/cstrike/maps/surf_*.bsp
!css_server/server/cstrike/maps/surf_*.vmf

css_server/steamcmd/*
!css_server/steamcmd/.gitkeep

# Map cache
map_cache/*
!map_cache/.gitkeep

# Python
__pycache__/
